@{
    ViewBag.Title = "About iBeauti";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">iBeauti 愛美蒂</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/about/corporateoverview">關於iBeauti <span class="left-arrow"></span></a></li>
               
            </ul>

    </div>

    <div class="right-content">
        
       <div class="news-c">
            <h3 class="sec-title-txt">最新消息</h3>
           <div class="news-content">
               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">这是我们的最新消息 ...</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">iBeauti将在2016年3月21日推出....</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">欢迎iBeauti新闻发布会...</span>
                   <span class="news-right-arrow"></span>
               </a>


           </div>
       </div>
    </div>
    <br class="clear-both" />
</div>

