@{
    ViewBag.Title = "IoTMemory";
   
}

<div class="body-content-wrapper">
    <div class="banner-c">
         <div class="slideshow-c">
            <div class="slideshow" id="coin-slider">
                    <ul>
                      <li>
                        <img src="/CDN/Themes/1/images/banner-1.jpg" alt="" />
                      </li>
          
                      <li>
                        <img src="/CDN/Themes/1/images/banner-2.jpg" alt="" />
                      </li>
          
                      <li>           
                       <img src="/CDN/Themes/1/images/banner-3.jpg" alt="" />
                      </li>            
                        
                        <li>           
                        <img src="/CDN/Themes/1/images/banner-3.jpg" alt="" />
                      </li> 
                        
                        <li>           
                            <img src="/CDN/Themes/1/images/banner-2.jpg" alt="" />
                      </li>    
                    </ul>
             </div>

        </div> <!-- End of slide-show-c -->

    </div>
    <div class="body-content">

        <div class="hot-product-sec">
            <h3 class="sec-title-txt">熱門商品</h3>
            <div class="products-img-sec">
                <a class="product-img first-m-i" href="#"><img src="/CDN/Themes/1/images/product-img-1.jpg" /><span class="product-desc">美白霜</span></a>
                <a class="product-img" href="#"><img src="/CDN/Themes/1/images/product-img-2.jpg" /><span class="product-desc">美白霜</span></a>
                <a class="product-img" href="#"><img src="/CDN/Themes/1/images/product-img-3.jpg" /><span class="product-desc">美白霜</span></a>
                <a class="product-img" href="#"><img src="/CDN/Themes/1/images/product-img-4.jpg" /><span class="product-desc">美白霜</span></a>
                <a class="product-img last-m-i" href="#"><img src="/CDN/Themes/1/images/product-img-5.jpg" /><span class="product-desc">美白霜</span></a>
            </div>
        </div>

       <div class="news-c">
            <h3 class="sec-title-txt">最新消息</h3>
           <div class="news-content">
               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">这是我们的最新消息 ...</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">iBeauti将在2016年3月21日推出....</span>
                   <span class="news-right-arrow"></span>
               </a>

               <a class="news-row" href="/news/newsdetails">
                   <span class="news-date">12/12/2015</span>
                   <span class="news-outline">欢迎iBeauti新闻发布会...</span>
                   <span class="news-right-arrow"></span>
               </a>

           </div>
       </div>

        <div class="about-intro">
            <h3 class="sec-title-txt">客服專線:</h3>

            <div class="about-text">
                <p class="paragraph">03 - XXX - XXXX</p>
              
            </div>

        </div>
    </div>



    <br class="clear-both" />

</div>
