@{
    ViewBag.Title = "About iBeauti";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">iBeauti 愛美蒂</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/about/corporateoverview">關於iBeauti <span class="left-arrow"></span></a></li>
               
            </ul>

    </div>

    <div class="right-content">
         <h4 class="content-title">關於iBeauti</h4>
         <div class="content-c">

             <img src="/CDN/Themes/1/images/main-img.jpg" class="main-img" />
             <h5 class="sub-title">Who we are</h5>
    <p class="paragraph">Enable and inspire everyone to build a better future </p>

<p class="paragraph">&nbsp;</p>

<h5 class="sub-title">What we do</h5>
  <p class="paragraph">To be a reliable Flash memory provider, enables customers success with cutting-edge and  innovative products</p> 


         </div>
    </div>
    <br class="clear-both" />
</div>

