@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="maintenance-wrapper">
    <div class="m-w-inner">

        <div class="maintenance-icon">
           
        </div>

        <div class="maintenance-txt-c">
            <h4 class="m-txt-title">System Maintenance</h4>
            We are currently performing system maintenance to serve you better.<br />
            We apologize for any inconvenience caused.
        </div>
        <br class="clear-both" />
    </div>


</div>
