@{
    ViewBag.Title = "About iBeauti";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">產品介紹</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/products/">面膜系列<span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/products/">洗髮精、護髮<span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/products/">洗手、沐浴<span class="left-arrow"></span></a></li>               
            </ul>

    </div>

    <div class="right-content">
         <h4 class="content-title">面膜系列</h4>
         <div class="content-c">
            <div class="products-img-sec">
                <a class="product-img" href="/products/productdetails"><img src="/CDN/Themes/1/images/product-img-1.jpg" /><span class="product-desc">美白霜</span><span class="product-name">产品名称（短）</span></a>
                <a class="product-img" href="/products/productdetails"><img src="/CDN/Themes/1/images/product-img-2.jpg" /><span class="product-desc">美白霜</span><span class="product-name">产品名称（短）</span></a>
                <a class="product-img" href="/products/productdetails"><img src="/CDN/Themes/1/images/product-img-3.jpg" /><span class="product-desc">美白霜</span><span class="product-name">产品名称（短）</span></a>
                <a class="product-img" href="/products/productdetails"><img src="/CDN/Themes/1/images/product-img-4.jpg" /><span class="product-desc">美白霜</span><span class="product-name">产品名称（短）</span></a>
                <a class="product-img" href="/products/productdetails"><img src="/CDN/Themes/1/images/product-img-5.jpg" /><span class="product-desc">美白霜</span><span class="product-name">产品名称（短）</span></a>
            </div>

         </div>
    </div>
    <br class="clear-both" />
</div>

