@{
    ViewBag.Title = "About iBeauti";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">產品介紹</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/products/">面膜系列<span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/products/">洗髮精、護髮<span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/products/">洗手、沐浴<span class="left-arrow"></span></a></li>               
            </ul>

    </div>

    <div class="right-content">
         <h4 class="content-title">美白面膜</h4>
         <div class="content-c">
            <div class="detail-img-c"><img class="detail-img" src="/CDN/Themes/1/images/detail-img.jpg" /></div>
            <div class="detail-content">
                <span class="label">適用膚質:</span> 一般膚質、油性肌 <br />
                <span class="label">用途:</span> 美白、滋潤 <br />
                <span class="label">包裝:</span> 6片/盒; 25ml/片 <br />
                <span class="label">重量:</span> 克/片<br />
                <span class="label">建議售價:</span> 480/盒
            </div>

             <p class="paragraph">&nbsp;</p>

                <h5 class="sub-title">Product Description</h5>
                  <p class="paragraph">To be a reliable Flash memory provider, enables customers success with cutting-edge and  innovative products</p> 


         </div>


    </div>
    <br class="clear-both" />
</div>

