@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="maintenance-wrapper error-page">
    <div class="m-w-inner">

        <div class="maintenance-icon">
           
        </div>

        <div class="maintenance-txt-c">
            <h4 class="m-txt-title">Error</h4>
           Opps! .... Something went wrong.<br />
            We apologize for any inconvenience caused.
        </div>
        <br class="clear-both" />
    </div>


</div>
