@{
    ViewBag.Title = "訂購中心";
}

<div class="body-content-wrapper">
    <div class="left-sidebar">
           <h3 class="sidebar-title">訂購中心</h3>
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item-c selected"><a class="sidebar-nav-item" href="/contactus/contactus">訂購方式 <span class="left-arrow"></span></a></li>
                <li class="sidebar-nav-item-c"><a class="sidebar-nav-item" href="/contactus/contactpartner">購物需知<span class="left-arrow"></span></a></li>
            </ul>

    </div>

    <div class="right-content">
         <h4 class="content-title">訂購方式</h4>
         <div class="content-c">

         

             <table class="tbl" cellspacing="0" cellpadding="0">
                 <colgroup>
                     <col width="7%" />
                     <col  width="20%" />
                     <col  />
                 </colgroup>
                 <tr class="thead">
                     <td class="td" colspan="3">
                         <strong>Alan Cheng</strong> <br />
                        Director of Business Development <br />
                        IoTMemory Technology Inc. <br />
                     </td>
                 </tr>
                 <tr>
                     <td class="td"><span class="c-icon mobile"></span></td>
                     <td class="td">Mobile :</td>
                      <td class="td">+886-958961415 (Taiwan)<br />+65-97528555 (Singapore)</td>
                 </tr>

                 <tr>
                     <td class="td"><span class="c-icon email"></span></td>
                     <td class="td">Email :</td>
                      <td class="td"><a class="email-link2" href="mailto:alancheng@iotmemory.com">alancheng@iotmemory.com</a></td>
                 </tr>

                 <tr class="thead">
                     <td class="td" colspan="3"><strong>Headquarters</strong></td>
                 </tr>

                 <tr>
                     <td class="td"><span class="c-icon tel"></span></td>
                     <td class="td">TEL :</td>
                      <td class="td">+886-2-37652577</td>
                 </tr>

                 <tr>
                     <td class="td"><span class="c-icon fax"></span></td>
                     <td class="td">Fax :</td>
                      <td class="td">+886-2-37652579</td>
                 </tr>

                 <tr>
                     <td class="td"><span class="c-icon add"></span></td>
                     <td class="td">Address :</td>
                      <td class="td">1F., No.9, Ln. 166, Sanmin Rd., Songshan Dist., Taipei City 10592, Taiwan台北市松山區三民路166巷9號1樓</td>
                 </tr>

                 <tr>
                     <td class="td"><span class="c-icon website"></span></td>
                     <td class="td">Website :</td>
                      <td class="td">http://www.iotmemory.com</td>
                 </tr>

             </table>


         </div>
    </div>
    <br class="clear-both" />
</div>

